# dependencies
/node_modules
.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem

# editor
.idea/
*.swp
*.swo

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# claude code
CLAUDE.local.md
